<header>
    <ul class="nav fixed-top">
        <li class="nav-item">
            <a class="nav-link active" [routerLink]="'/home'">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);">О магазине</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'/catalog'">Каталог</a>
        </li>
        <li class=" nav-item">
            <a class="nav-link disabled" href="javascript:void(0);">Контакты</a>
        </li>
    </ul>
</header>

<router-outlet></router-outlet>

<footer>
    <div class="end-page mt-5">
        <div class="container">
            <div class="row">
                <div class="col-3 d-flex" style="align-items: center; text-align: center;">
                    <div class="about-footer">
                        <div class="about-content-paragraph">По всем вопросам обращайтесь куда-нибудь
                        </div>
                        <div class="about-content-paragraph">Всегда рад помочь
                        </div>
                        <div class="about-content-paragraph">Тратьте время на книги и не пожалеете!
                        </div>
                        <div class="about-content-paragraph about-content-paragraph-mb">Спасибо
                        </div>
                        <div class="about-content-paragraph">Приятного просмотра</div>
                    </div>
                </div>
                <div class="col-3 d-flex" style="align-items: center; text-align: center;">
                    <div class="ricol">
                        <div class="num-1">
                            Мой телефон(не настоящий):
                            <a class="footer-telephone d-block" href="tel:+78005553535">+8 (800) 555-35-35</a>
                        </div>
                        <div class="mail d-block">Моя почта(не настоящая):
                            <a href="mailto:template@site.ru" class="footer-mail">template@site.ru
                            </a>
                        </div>
                        <div class="footer-info">
                            <span class="ng">График работы:<br>с 10:00 до 19:00<br>Выходные: суббота,
                                воскресенье
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img src="assets/footer.jpg" style="height: 100%; width: 100%; padding: 20px;">
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-bottom">
        <div class="container">
            <div class="d-flex" style="width: 100%;">
                <div class="num-1 mr-auto">
                    Мой телефон(не настоящий):
                    <a class="footer-telephone" href="tel:+78005553535">+8 (800) 555-35-35</a>
                </div>
                <div class="basket">
                    <a class="footer-telephone" href="javascript:void(0);">Корзина</a>
                </div>
            </div>
        </div>
    </div>
</footer>