<main>
    <div class="content-menu">
        <div class="container">
            <div class="col-3" style="color: #fff;">
                КАТАЛОГ
            </div>
            <div class="col">
                <div class="catalog-section-item-wrap">
                    <div class="row no-gutters">
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                            <div class="catalog-section-item-container">
                                <div class="catalog-section-item">
                                    <div class="catalog-section-item-image">
                                        <img style="height: 100%;" src="/assets/skazka.jpg">
                                    </div>
                                    <div class="catalog-section-item-name mt-3">
                                        <a href="javascript:void(0);">Лучшие сказки мира на английском языке</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                            <div class="catalog-section-item-container">
                                <div class="catalog-section-item">
                                    <div class="catalog-section-item-image">
                                        <img style="height: 100%;" src="/assets/bakunin.jpg">
                                    </div>
                                    <div class="catalog-section-item-name mt-3">
                                        <a href="javascript:void(0);">Государственность и анархия</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                            <div class="catalog-section-item-container">
                                <div class="catalog-section-item">
                                    <div class="catalog-section-item-image">
                                        <img style="height: 100%;" src="/assets/kontur.jpg">
                                    </div>
                                    <div class="catalog-section-item-name mt-3">
                                        <a href="javascript:void(0);">История Древнего Мира. 5 класс. Контурные
                                            карты</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                            <div class="catalog-section-item-container">
                                <div class="catalog-section-item">
                                    <div class="catalog-section-item-image">
                                        <img style="height: 100%;" src="/assets/war.jpg">
                                    </div>
                                    <div class="catalog-section-item-name mt-3">
                                        <a href="javascript:void(0);">Warcraft: Легенды. Том 3</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                            <div class="catalog-section-item-container">
                                <div class="catalog-section-item">
                                    <div class="catalog-section-item-image">
                                        <img style="height: 100%;" src="/assets/life.jpg">
                                    </div>
                                    <div class="catalog-section-item-name mt-3">
                                        <a href="javascript:void(0);">Life is Strange. Пыль</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                            <div class="catalog-section-item-container">
                                <div class="catalog-section-item">
                                    <div class="catalog-section-item-image">
                                        <img style="height: 100%;" src="/assets/life.jpg">
                                    </div>
                                    <div class="catalog-section-item-name mt-3">
                                        <a href="javascript:void(0);">Life is Strange. Пыль</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                            <div class="catalog-section-item-container">
                                <div class="catalog-section-item">
                                    <div class="catalog-section-item-image">
                                        <img style="height: 100%;" src="/assets/life.jpg">
                                    </div>
                                    <div class="catalog-section-item-name mt-3">
                                        <a href="javascript:void(0);">Life is Strange. Пыль</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                            <div class="catalog-section-item-container">
                                <div class="catalog-section-item">
                                    <div class="catalog-section-item-image">
                                        <img style="height: 100%;" src="/assets/life.jpg">
                                    </div>
                                    <div class="catalog-section-item-name mt-3">
                                        <a href="javascript:void(0);">Life is Strange. Пыль</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                            <div class="catalog-section-item-container">
                                <div class="catalog-section-item">
                                    <div class="catalog-section-item-image">
                                        <img style="height: 100%;" src="/assets/life.jpg">
                                    </div>
                                    <div class="catalog-section-item-name mt-3">
                                        <a href="javascript:void(0);">Life is Strange. Пыль</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                            <div class="catalog-section-item-container">
                                <div class="catalog-section-item">
                                    <div class="catalog-section-item-image">
                                        <img style="height: 100%;" src="/assets/life.jpg">
                                    </div>
                                    <div class="catalog-section-item-name mt-3">
                                        <a href="javascript:void(0);">Life is Strange. Пыль</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                            <div class="catalog-section-item-container">
                                <div class="catalog-section-item">
                                    <div class="catalog-section-item-image">
                                        <img style="height: 100%;" src="/assets/life.jpg">
                                    </div>
                                    <div class="catalog-section-item-name mt-3">
                                        <a href="javascript:void(0);">Life is Strange. Пыль</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                            <div class="catalog-section-item-container">
                                <div class="catalog-section-item">
                                    <div class="catalog-section-item-image">
                                        <img style="height: 100%;" src="/assets/life.jpg">
                                    </div>
                                    <div class="catalog-section-item-name mt-3">
                                        <a href="javascript:void(0);">Life is Strange. Пыль</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                            <div class="catalog-section-item-container">
                                <div class="catalog-section-item">
                                    <div class="catalog-section-item-image">
                                        <img style="height: 100%;" src="/assets/life.jpg">
                                    </div>
                                    <div class="catalog-section-item-name mt-3">
                                        <a href="javascript:void(0);">Life is Strange. Пыль</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                            <div class="catalog-section-item-container">
                                <div class="catalog-section-item">
                                    <div class="catalog-section-item-image">
                                        <img style="height: 100%;" src="/assets/life.jpg">
                                    </div>
                                    <div class="catalog-section-item-name mt-3">
                                        <a href="javascript:void(0);">Life is Strange. Пыль</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                            <div class="catalog-section-item-container">
                                <div class="catalog-section-item">
                                    <div class="catalog-section-item-image">
                                        <img style="height: 100%;" src="/assets/life.jpg">
                                    </div>
                                    <div class="catalog-section-item-name mt-3">
                                        <a href="javascript:void(0);">Life is Strange. Пыль</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>