<main>
    <div class="container mb-5 pt-5">
        <h3 class="about-head-main first about-head-text">Главная страница</h3>
        <div class="main-info-page row">
            <div class="col-6 menu-info d-flex" style="text-align: center; align-items: center;">
                <div class="about-me">
                    <div class="about-content-paragraph">Привет! Меня зовут Динар Берхеев
                    </div>
                    <div class="about-content-paragraph">Этот тестовый сайт создан для сдачи лабораторных работ по
                        интернет-программированию
                    </div>
                    <div class="about-content-paragraph">Этот проект со временем будет наполняться различного рода
                        контентом</div>
                    <div class="about-content-paragraph about-content-paragraph-mb">Тематикой сайта будет книжный
                        интернет-магазин
                    </div>
                    <div class="about-content-paragraph">Приятного просмотра</div>
                </div>
            </div>
            <div class="col">
                <img src="assets/main-logo.jpg" style="height: auto; width: auto;">
            </div>
        </div>
    </div>
    <div class="menu-info">
        <div class="container">
            <div class="row">
                <div class="col-3 menu-info-item" style="border-right: 1px solid #fff;">
                    Меню
                </div>
                <div class="col menu-info-item">
                    Товары
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <ul class="svc-menu-left mt-3">
                    <li class="svc-menu-left-item">
                        <a class="svc-menu-left-link" href="javascript:void(0);">Книги для подростков</a>
                    </li>
                    <li class="svc-menu-left-item">
                        <a class="svc-menu-left-link" href="javascript:void(0);">Книги для детей</a>
                    </li>
                    <li class="svc-menu-left-item">
                        <a class="svc-menu-left-link" href="javascript:void(0);">Учебная литература</a>
                    </li>
                    <li class="svc-menu-left-item">
                        <a class="svc-menu-left-link" href="javascript:void(0);">Фантастика</a>
                    </li>
                    <li class="svc-menu-left-item">
                        <a class="svc-menu-left-link" href="javascript:void(0);">Комиксы</a>
                    </li>
                    <li class="svc-menu-left-item">
                        <a class="svc-menu-left-link" href="javascript:void(0);">Классика</a>
                    </li>
                    <li class="svc-menu-left-item">
                        <a class="svc-menu-left-link" href="javascript:void(0);">Философия</a>
                    </li>
                    <li class="svc-menu-left-item">
                        <a class="svc-menu-left-link" href="javascript:void(0);">Больше...</a>
                    </li>
                </ul>
            </div>
            <div class="col mt-3">
                <div class="catalog-section-item-wrap">
                    <div class="row no-gutters">
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                            <div class="catalog-section-item-container">
                                <div class="catalog-section-item">
                                    <div class="catalog-section-item-image">
                                        <img style="height: 100%;" src="/assets/skazka.jpg">
                                    </div>
                                    <div class="catalog-section-item-name mt-3">
                                        <a href="javascript:void(0);">Лучшие сказки мира на английском языке</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                            <div class="catalog-section-item-container">
                                <div class="catalog-section-item">
                                    <div class="catalog-section-item-image">
                                        <img style="height: 100%;" src="/assets/bakunin.jpg">
                                    </div>
                                    <div class="catalog-section-item-name mt-3">
                                        <a href="javascript:void(0);">Государственность и анархия</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                            <div class="catalog-section-item-container">
                                <div class="catalog-section-item">
                                    <div class="catalog-section-item-image">
                                        <img style="height: 100%;" src="/assets/kontur.jpg">
                                    </div>
                                    <div class="catalog-section-item-name mt-3">
                                        <a href="javascript:void(0);">История Древнего Мира. 5 класс. Контурные
                                            карты</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                            <div class="catalog-section-item-container">
                                <div class="catalog-section-item">
                                    <div class="catalog-section-item-image">
                                        <img style="height: 100%;" src="/assets/war.jpg">
                                    </div>
                                    <div class="catalog-section-item-name mt-3">
                                        <a href="javascript:void(0);">Warcraft: Легенды. Том 3</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                            <div class="catalog-section-item-container">
                                <div class="catalog-section-item">
                                    <div class="catalog-section-item-image">
                                        <img style="height: 100%;" src="/assets/life.jpg">
                                    </div>
                                    <div class="catalog-section-item-name mt-3">
                                        <a href="javascript:void(0);">Life is Strange. Пыль</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>