main, footer {
    color: #fff;
}

.nav {
	background: #343a40;
}

.nav-link {
    color: rgb(175, 175, 175);
}

.nav-link.active {
    color: #fff;
}

.nav-link.disabled {
    color: gray;
}

.first.about-head-text {
    padding-top: 25px;
}
.about-head-main {
    font-weight: 100;
    font-size: 25px;
}
.about-head-text {
    font-size: 18px;
    color: #3A2634;
    padding: 0 0 15px;
}

.about-content-paragraph {
    text-indent: 25px;
}

.svc-menu-left {
    border-left: 1px solid #E6D5E0;
    border-right: 1px solid #E6D5E0;
    border-top: 1px solid #E6D5E0;
    padding: 0;
    text-transform: uppercase;
}

.svc-menu-left-item {
    list-style-type: none;
}

.svc-menu-left-link {
    display: block;
    padding: 15px 25px;
    border-bottom: 1px solid #E6D5E0;
    color: #fff;
}

.svc-menu-left-link:hover {
    text-decoration: none;
    background-color: #F5F0EB;
    color: #000 !important;
}

.menu-info {
    background-color: #343a40;
}

.menu-info-item {
    padding: 10px 15px;
}

.catalog-section-item-wrap {
    border-left: 1px solid #aeaeae;
    border-top: 1px solid #aeaeae;
}

.catalog-section-item-container {
    height: 350px;
    width: 100%;
    border-bottom: 1px solid #aeaeae;
}

.catalog-section-item-container:hover {
    background: #343a40;
}

.catalog-section-item {
    padding: 10px 10px 10px 10px;
    width: 100%;
    height: 100%;
    border-right: 1px solid #aeaeae;
    text-align: center;
}

.catalog-section-item-image {
    height: 250px;
    text-align: center;
    color: #aeaeae;
    font-size: 64px;
    padding: 45px 0px 0px 0px;
}

.catalog-section-item-name a {
    color: #fff;
}

.catalog-section-item-name a:hover {
    text-decoration: none;
}

.end-page {
    background-color: #343a40;
    padding-bottom: 80px;
}

.footer-telephone, .footer-mail {
    color: blueviolet;
}

.footer-telephone:hover, .footer-mail:hover{
    text-decoration: none;
}

.fixed-bottom {
    padding: 20px;
    background-color: #181a1d;
}

#toTop {
    width: 40px;
    text-align: center;
    position: fixed;
    bottom: 120px;
    right: 40px;
    cursor: pointer;
    display: none;
}