<header>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="javascript:void(0);">Главная</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0);">О магазине</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0);">Каталог</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="javascript:void(0);">Контакты</a>
    </li>
  </ul>
</header>

<main>
  <div class="container mb-5">
    <h3 class="about-head-main first about-head-text">Главная страница</h3>
    <div class="main-info-page row">
      <div class="col-6">
        <div class="about-content-paragraph text-center text-sm-left">Привет! Меня зовут Динар Берхеев
        </div>
        <div class="about-content-paragraph">Этот тестовый сайт создан для сдачи лабораторных работ по
          интернет-программированию
        </div>
        <div class="about-content-paragraph">Этот проект со временем будет наполняться различного рода контентом</div>
        <div class="about-content-paragraph about-content-paragraph-mb">Тематикой сайта будет книжный интернет-магазин
        </div>
        <div class="about-content-paragraph">Приятного просмотра</div>
      </div>
      <div class="col">
        <img src="assets\main-logo.jpg" style="height: auto; width: auto;">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-3">
        Меню
        <ul class="svc-menu-left mt-3">
          <li class="svc-menu-left-item">
            <a class="svc-menu-left-link" href="/catalog/311/">Броши</a>
          </li>
          <li class="svc-menu-left-item">
            <a class="svc-menu-left-link" href="/catalog/312/">Кулоны с цепью</a>
          </li>
          <li class="svc-menu-left-item">
            <a class="svc-menu-left-link" href="/catalog/313/">Кулоны</a>
          </li>
          <li class="svc-menu-left-item">
            <a class="svc-menu-left-link" href="/catalog/314/">Серьги</a>
          </li>
          <li class="svc-menu-left-item">
            <a class="svc-menu-left-link" href="/catalog/315/">Кольца</a>
          </li>
          <li class="svc-menu-left-item">
            <a class="svc-menu-left-link" href="/catalog/316/">Браслеты</a>
          </li>
        </ul>
      </div>
      <div class="col">
        Товары
      </div>
    </div>
  </div>
</main>

<footer>

</footer>